<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title  Document
	link(rel="stylesheet", href="css/main.css")
body
	a(href="#")
	h1 fhdsf
	h2 fdsfdsfjsdfjsdklfj
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore consequuntur atque sit voluptatibus in voluptas distinctio quas est, perferendis, sunt assumenda. Eius voluptatum,asdasdasdsdfsdfsdfsdf magnam minus! Repellat tempore aperiam itaque.
	